<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncda.dao.ext.AcBilUploadRecordMapper" >

  <insert id="saveUploadRecordData" parameterType="com.ncda.entity.ext.ExtAccountBillUploadRecord" >
    insert into account_bill_upload_record (DATE, FILE_CONTENT, DEL_STATE, UPLOAD_TIME)
    values (#{date,jdbcType=DATE}, #{fileContent,jdbcType=LONGVARCHAR}, '1', #{uploadTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectCountByYearMonth" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
      COUNT( 1 )
    FROM
      account_bill_upload_record
    WHERE
        YEAR ( DATE ) = #{year}
        AND MONTH ( DATE ) = #{month}
        AND DEL_STATE = '0'
  </select>

  <select id="selectDataByYearMonth" parameterType="java.lang.Integer" resultType="com.ncda.entity.ext.ExtAccountBillUploadRecord">
    SELECT
      ID, DATE, FILE_CONTENT fileContent, UPLOAD_TIME uploadTime
    FROM
      account_bill_upload_record
    WHERE
      YEAR ( DATE ) = #{year}
      AND MONTH ( DATE ) = #{month}
      AND DEL_STATE = '0'
  </select>

  <update id="deleteOldDataByYearMonth" parameterType="java.lang.Integer">
    update account_bill_upload_record
    <set>
      DEL_STATE = '1',
    </set>
    where
      YEAR ( DATE ) = #{year}
      AND MONTH ( DATE ) = #{month}
      AND DEL_STATE = '0'
  </update>

  <select id="getAllYearAndMonth" resultType="com.ncda.entity.ext.ExtAccountBillUploadRecord">
    SELECT DATE FROM account_bill_upload_record WHERE DEL_STATE = '0'
  </select>

</mapper>