<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncda.dao.ext.AcBiTypeMapper" >

  <resultMap id="BaseResultMap" type="com.ncda.entity.ext.ExtAccountBillType">
    <id column="TYPE_ID" jdbcType="INTEGER" property="typeId" />
    <result column="TYPE_ONE_NAME" jdbcType="VARCHAR" property="typeOneName" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="TYPE_KEYWORD" jdbcType="VARCHAR" property="typeKeyword" />
  </resultMap>

  <select id="selectLevelOneType" resultMap="BaseResultMap">
    SELECT TYPE_ID, TYPE_ONE_NAME, USER_ID, TYPE_KEYWORD FROM account_bill_type
  </select>

  <insert id="saveType" parameterType="com.ncda.entity.ext.ExtAccountBillType">
    INSERT INTO
      account_bill_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeOneName != null and typeOneName != ''">
        TYPE_ONE_NAME,
      </if>
      <if test="userId != null and userId != ''">
        USER_ID,
      </if>
      <if test="typeKeyword != null and typeKeyword != ''">
        TYPE_KEYWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeOneName != null and typeOneName != ''">
        #{typeOneName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeKeyword != null and typeKeyword != ''">
        #{typeKeyword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateType" parameterType="com.ncda.entity.AccountBillType">
    UPDATE account_bill_type
    SET TYPE_ONE_NAME = #{ typeOneName }, TYPE_KEYWORD = #{ typeKeyword }
    WHERE TYPE_ID = #{typeId,jdbcType=INTEGER}
  </update>

  <delete id="deleteType" parameterType="string">
    DELETE FROM account_bill_type
    WHERE TYPE_ID = #{ 0 }
  </delete>
</mapper>