<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncda.dao.ext.AcBilUploadRecordMapper" >

  <insert id="saveUploadRecordData" parameterType="com.ncda.entity.ext.ExtAccountBillUploadRecord" >
    insert into account_bill_upload_record (DATE, FILE_CONTENT)
    values (#{date,jdbcType=DATE}, #{fileContent,jdbcType=LONGVARCHAR})
  </insert>

  <select id="selectCountByYearMonth" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
      COUNT( 1 )
    FROM
      account_bill_upload_record
    WHERE
        YEAR ( DATE ) = #{year}
        AND MONTH ( DATE ) = #{month}
  </select>

  <select id="selectDataByYearMonth" parameterType="java.lang.Integer" resultType="com.ncda.entity.ext.ExtAccountBillUploadRecord">
    SELECT
      ID, DATE, FILE_CONTENT fileContent
    FROM
      account_bill_upload_record
    WHERE
      YEAR ( DATE ) = #{year}
      AND MONTH ( DATE ) = #{month}
  </select>

</mapper>