<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncda.dao.ext.AcBiMapper" >
  <resultMap id="BaseResultMap" type="com.ncda.entity.ext.ExtAccountBill" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DATE" property="date" jdbcType="DATE" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="MONEY_STATE" property="moneyState" jdbcType="CHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="COMMENT" property="comment" jdbcType="VARCHAR" />
    <result column="DEL_STATE" property="delState" jdbcType="CHAR" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, DATE, MONEY, MONEY_STATE, TYPE, COMMENT, DEL_STATE, ITEM_NAME
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account_bill
  </select>
</mapper>